<div class="jumbotron">
	<div class="container">
		<h1>HawkScheduler</h1>
		<p>Welcome to Shoe's course scheduling tool - created to help students at the University of Iowa save time in
			building their course schedule when registering for classes.</p>
		<!--<p><a class="btn btn-primary btn-lg" href="javascript:void(0);" role="button">Get Started</a></p>-->
	</div>
</div>

<div class="row">
	<!-- Course Selection Box -->
	<div class="well col-sm-6">
		<form class="form form-horizontal">
			<div class="form-group">
				<label for="course_subject" class="col-sm-3 control-label">Course Subject</label>
				<div class="col-sm-9">
					<select id="course_subject" name="course_subject" class="combobox form-control">
						<option></option>
						<% @subjects.each do |sub| %>
							<option value="<%= sub.naturalKey %>"><%= sub.naturalKey %> - <%= sub.description %>    </option>
						<% end %>
					</select>
				</div>
			</div>
			
			<div class="form-group hidden">
				<label for="course_number" class="col-sm-3 control-label">Course Number</label>
				<div class="col-sm-9">
					<select id="course_subject" name="course_subject" class="combobox form-control">
						<option></option>
						<% @subjects.each do |sub| %>
							<option value="<%= sub.naturalKey %>"><%= sub.naturalKey %> - <%= sub.description %>    </option>
						<% end %>
					</select>
				</div>
			</div>
			
			<div class="form-group hidden">
				<div class="col-sm-offset-3 col-sm-9">
					<button type="submit" class="btn btn-default">Add Course</button>
				</div>
			</div>
		
		
		</form>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		$('.combobox').combobox();
	});
</script>
